.information{
    border: 1px solid #9d9d9d;
    color: #2f2f2f;
    padding: 20px;
}
.information-img{
    text-align: center;
}
.information-name{
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
}
.information-actions {
    font-size: 1.6rem;
}
.information-actions-item {
    cursor: pointer;
    margin: 8px 0;
}
.information-link {
    color: #2f2f2f;
    font-weight: 600;
    transition: all linear .2s;
}
.information-link:hover{
    color: var(--pink-light);
}
.active{
    color: var(--pink-light);
}