.admin {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  overflow: hidden;
  font-family: system-ui;
}

.clearfix {
  clear: both;
}

.logo {
  margin: 0px;
  margin-left: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.logo span {
  color: var(--pink-light);
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #272c4a;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 30px;
}

.sidenav a {
  padding: 15px 8px 15px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #1b203d;
}

.icon-a.active {
  color: #f1f1f1;
  background-color: #1b203d;
}

.sidenav {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

#main {
  height: 100vh;
  overflow-y: scroll;
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 300px;
  scroll-behavior: smooth;
}

.head {
  padding: 20px;
}

.col-div-6 {
  width: 50%;
  float: left;
  position: relative;
}

.profile {
  display: inline-block;
  float: right;
  width: 200px;
}

.pro-img {
  float: left;
  width: 40px;
  margin-top: 5px;
}

.profile p {
  color: #1b203d;
  font-weight: 500;
  margin-left: 55px;
  margin-top: 10px;
  font-size: 1.7rem;
}

.profile p span {
  font-weight: 400;
  font-size: 1.3rem;
  display: block;
  color: #8e8b8b;
}
.profile:hover ~ .user-nav{
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
}

.user-nav::before{
  content: "";
  width: 200px;
  height: 40px;
  background-color: transparent;
  display: block;
  position: absolute;
  top: -30px;
}
.user-nav:hover{
  transform: translateY(0);
  opacity: 1;
  z-index: 10;
}
.user-nav{
  transform: translateY(80%);
  transition: all 0.5s;
  opacity: 0;
  width: 200px;
  position: absolute;
  z-index: -1;
  list-style: none;
  font-size: 1.8rem;
  background-color: #fff;
  border-radius: 10px;
  padding: 0;
  box-shadow: 1px 1px 5px #ccc;
  top: 100%;
  right: 0;
}

.user-nav li{
  padding: 5px 15px;
  cursor: pointer;
  margin: 0px;
}
.user-nav li:hover, .user-nav li:hover a{
  color: #fff!important;
  background-color: var(--pink-light);
}

.user-nav li a{
  color: #1b203d;
}

.user-nav li:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-nav li:last-child {
  border-top: 0.5px solid #ccc;
  color: red;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.col-div-3 {
  width: 25%;
  float: left;
}

.box {
  width: 85%;
  word-wrap: none;
  height: 100px;
  background-color: white;
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 8px #ccc;
}

.box p {
  font-size: 35px;
  color: #272c4a;
  font-weight: bold;
  line-height: 30px;
  padding-left: 10px;
  margin-top: 20px;
  display: inline-block;
}

.box p span {
  font-size: 2rem;
  font-weight: 400;
  color: #818181;
}

.box-icon {
  font-size: 40px!important;
  float: right;
  margin-top: 35px!important;
  color: #818181;
  padding-right: 10px;
}

.col-div-8 {
  width: 100%;
  float: left;
}

.col-div-4 {
  width: 30%;
  float: left;
}

.content-box {
  padding: 20px;
}

.content-box p {
  margin: 0px;
  font-size: 2.5rem;
  color: #f7403b;
}

.content-box p span {
  float: right;
  padding: 3px 10px;
  font-size: 15px;
}

.box-8, .box-4 {
  width: 95%;
  font-size: 1.5rem;
  background-color: white;
  min-height: 330px;
  box-shadow: 1px 1px 5px #ccc;
  border-radius: 20px;
}

.nav2 {
  display: none;
}

.box-8 {
  margin-left: 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: center;
  padding: 15px;
  font-size: 1.6rem;
  border-bottom: 1px solid #81818140;
}

td button i ,
a i {
  font-size: 2rem!important;
}

tr{
  height: 60px;

}

.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: #e6e2e7;
  border-radius: 50%;
}

.circle-wrap .circle .mask, .circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #f7403b;
}

.circle-wrap .circle .mask.full, .circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}

.form-control{
  font-size: 1.6rem;
}

@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}

.circle-wrap .inside-circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #fff;
  line-height: 130px;
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

.dataTables_wrapper{
  font-size: 1.6rem;
}